html {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
}

.title {
  background-color: #193549;
  height: 60px;
  margin: 0;
  width: 100%;
  border-bottom: 3px solid #FFC600;
}

h1 {
  color: white;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  margin: 0;
}

a {
  display: block;
  color: black;
  margin: 0 auto 40px auto;
  text-decoration: none;

}

.challenges-container {
  max-width: 1400px;
  width: 90%;
  margin: 30px auto 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.challenge-box {
  width: 420px;
  height: 400px;
  border: 1px solid purple;
}

.challenge-title {
  text-align: center;
  line-height: 15;
}
